@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,body{
  /*font-family: 'Arial', serif;*/
  max-width: 100%;
  overflow-x: hidden;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}